name: Build AUR Packages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fix pacman keyring
        run: |
          # Правильная инициализация ключей
          pacman-key --init --batch
          pacman-key --populate archlinux
          pacman-key --refresh-keys || true

          # Разрешаем автозагрузку слабых и старых ключей (иначе иногда падает)
          echo "keyserver-options auto-key-retrieve" >> /etc/pacman.d/gnupg/gpg.conf
          echo "allow-weak-key-signatures" >> /etc/pacman.d/gnupg/gpg.conf

          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm base-devel git

      - name: Build package
        run: |
          cd aur
          makepkg --noconfirm --syncdeps --clean --cleanbuild

      - name: Generate DB
        run: |
          mkdir -p repo
          mv aur/*.pkg.tar.zst repo/

          cd repo
          repo-add aura.db.tar.gz *.pkg.tar.zst
          mv aura.db.tar.gz aura.db
          mv aura.files.tar.gz aura.files || true

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./repo
          publish_branch: gh-pages
