name: Build AUR Packages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_repository:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Packages
        id: build
        uses: ./
        with:
          packages: |
            fastfetch-git

      - name: Set tag for release
        id: tag
        run: |
          # Если хочешь, можно автоматический тег по дате
          echo "TAG_NAME=aur-build-$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV

      - name: Publish to Releases
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: "AUR build ${{ env.TAG_NAME }}"
          prerelease: true
          files: |
            ${{ steps.build.outputs.package_dir }}/*.pkg.tar.zst
            ${{ steps.build.outputs.package_dir }}/aurci2.db*
            ${{ steps.build.outputs.package_dir }}/aurci2.files*
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify files
        run: ls -lh ${{ steps.build.outputs.package_dir }}
