name: Build Arch Repo

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    container:
      image: archlinux:latest
      options: --privileged

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Init Pacman Keys (working)
        run: |
          pacman-key --init
          pacman-key --populate archlinux
          pacman -Sy --noconfirm archlinux-keyring

      - name: Install build tools
        run: pacman -Syu --noconfirm base-devel git

      - name: Build packages from PKGBUILDs folder
        run: |
          mkdir -p repo
          for pkg in fastfetch-git amneziavpn-bin dl-desktop-git; do
            git clone https://aur.archlinux.org/$pkg.git
            cd $pkg
            makepkg -sf --noconfirm
            mv *.pkg.tar.zst ../repo
            cd ..
          done

      - name: Create repo database
        run: |
          cd repo
          repo-add aura.db.tar.gz *.pkg.tar.zst

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: repo
          publish_branch: gh-pages
          force_orphan: true
