name: Build Arch Repo

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: archlinux:latest
      options: --privileged

    steps:
      - uses: actions/checkout@v4

      - name: Init pacman keys
        run: |
          pacman-key --init
          pacman-key --populate archlinux
          pacman -Sy --noconfirm archlinux-keyring

      - name: Install tools
        run: pacman -Syu --noconfirm base-devel git sudo

      - name: Create non-root builder user
        run: |
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          chown -R builder:builder /github/workspace

      - name: Build packages
        run: |
          mkdir -p repo
          for pkg in fastfetch-git amneziavpn-bin dl-desktop-git; do
            sudo -u builder git clone https://aur.archlinux.org/$pkg.git
            cd $pkg
            sudo -u builder makepkg -sf --noconfirm
            mv *.pkg.tar.zst ../repo
            cd ..
          done

      - name: Create repo database
        run: |
          cd repo
          repo-add aura.db.tar.gz *.pkg.tar.zst

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: repo
          publish_branch: gh-pages
          force_orphan: true
