name: Build AUR packages

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
    - uses: actions/checkout@v4

    - name: Install base-devel and tools
      run: |
        pacman -Sy --noconfirm archlinux-keyring
        pacman-key --init
        pacman-key --populate archlinux
        pacman -Syu --noconfirm base-devel git

    - name: Make build dir
      run: mkdir build

    - name: Build PKGBUILD
      run: |
        cp PKGBUILD build/
        cd build
        makepkg -s --noconfirm --clean --cleanbuild

    - name: Upload package to GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: latest
        files: build/*.pkg.tar.zst

    - name: Generate DB files
      run: |
        cd build
        repo-add aura.db.tar.gz *.pkg.tar.zst
        mv aura.db.tar.gz aura.db
        mv aura.files.tar.gz aura.files

    - name: Publish DB to gh-pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build
        publish_branch: gh-pages
        force_orphan: true
        # ВАЖНО: исключаем пакеты, но НЕ DB
        exclude_assets: "*.pkg.tar.zst"
